@use "../abstracts/variables" as *;

section {
  padding: $espaciado-2xl 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  text-align: center;
  margin-bottom: $espaciado-xl;

  h1 {
    font-size: $texto-4xl;
    color: $color-primario;
    margin-bottom: $espaciado-sm;
  }

  p {
    font-size: $texto-md;
    color: $color-gris;
  }
}